body {
	background: #ddd;
	line-height: 30px;
	font-family: 'Open Sans';
}

#welcome-text {
	text-align: center;
	text-transform: uppercase;
}

#terms-and-agreement-title {
	color: #000;
	padding: 15px;
	font-size: 16pt;
	background: #f1c40f;
	text-align: center;
	text-transform: uppercase;
}

#terms-and-agreement-body {
	color: #000;
	padding: 15px;
	background: #fff;
	margin-bottom: 30px;
	max-height: 350px;
	overflow-y: scroll;
}

.centered {
	top: 50%;
	left: 50%;
	width: 35%;
	padding: 0;
	position: fixed;
	text-align: justify;
	transform: translate(-50%, -50%);
}

#register-form { padding-top: 0 !important; }
li.item-list { list-style-type: square; }
#warning-login { text-align: center; }
#warning-danger { margin-top: 20px; }
#pengumuman-email {
	line-height: 30px;
	text-align: center;
	padding: 15px;
	margin-bottom: 20px;
}

.sip-button,
.ok-button {
	border: 0;
	padding: 15px;
	border-radius: 0;
	transition: 0.25s;
	color: rgba(0,0,0,.8);
	text-transform: uppercase;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

a {
	color: inherit;
	text-decoration: none;
}

#login-box {
	padding: 15px;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);	
}

#register-form {
	padding: 7.5px;
}

span.input-group-addon,
input[name='username'],
input[name='password'],
input[name='passwordsignup'],
input[name='numberPhone'],
input[name='namesignup'],
input[name='emailsignup'] {
	height: 100%;
	padding: 15px;
	border-radius: 0;
}

/* Table Login Form */ 
.table { margin: 0; }
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	padding: 5px;
	border-top: 0;
}

div.register-form-text {
	padding: 0;
}

hr {
	margin-top: 10px !important;
	margin-bottom: 0 !important;
}

#register-form { display: none; }

@media screen and (max-width: 480px) {
	body { overflow: auto; height: 100%; }
	div.register-form-text { width: 100% !important; }
}

@media screen and (max-width: 767px) {
	.centered {
		width: 75% !important;
	}
}